// Colores
$color-black: #151515;
$color-dark-grey: #242424;
$color-green: #4EE1A0;
$color-light-grey: #D9D9D9;
$color-white: #FFFFFF;
$color-error: #FF6F5B;

// Tipografía
$font-primary: 'Space Grotesk', sans-serif;

// Tamaños de fuente 
$font-size-xl: 40px; // Mobile (88px en desktop)
$font-size-l: 32px;  // Mobile (48px en desktop)
$font-size-m: 24px;
$font-size-body: 18px;