// 1. Abstracts
@use 'abstracts/variables';
@use 'abstracts/mixins';

// 2. Base
@use 'base/reset'; 
@use 'base/typography';
@use 'base/base';

// 3. Components
@use 'components/buttons';
@use 'components/form'; 

// 4. Layout
@use 'layout/grid';
@use 'layout/header';
@use 'layout/hero';
@use 'layout/skills';
@use 'layout/projects';
@use 'layout/footer';