@use '../abstracts/mixins' as m;

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    // MÓVIL (Original)
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;

    // TABLET (Tu pedido: 30px de padding)
    @include m.respond-to('tablet') {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 768px; 
    }

    // DESKTOP (Ancho fijo 1110px = 165px a cada lado en pantallas de 1440px)
    @include m.respond-to('desktop') {
        max-width: 1110px; 
        padding-left: 0;
        padding-right: 0;
    }
}