@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// AJUSTE GLOBAL PARA EL ANCHO DESKTOP
.container {
    @include m.respond-to('desktop') {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 80px;

    // --- ELEMENTO FLOTANTE: ANILLOS ---
    &::before {
        content: '';
        position: absolute;
        width: 530px;
        height: 129px;
        background-repeat: no-repeat;
        pointer-events: none; 
        z-index: 0; 
        
        // Imagen Original (Móvil/Tablet)
        background-image: url('../img/pattern-rings.svg');

        // POSICIÓN MÓVIL
        left: -140px; 
        top: 30px; 

        @include m.respond-to('tablet') {
            left: 0px; 
            top: -10px;
        }

        @include m.respond-to('desktop') {
            // CAMBIO DE IMAGEN SOLO EN DESKTOP
            background-image: url('../img/pattern-rings3.svg');
            
            left: -180px; 
            top: 0px;
        }
    }

    @include m.respond-to('tablet') {
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between;
        text-align: left;
        min-height: 600px; 
    }
    
    @include m.respond-to('desktop') {
        align-items: flex-start; 
        // Quitamos padding top para facilitar que la imagen suba
        padding-top: 0; 
        min-height: auto;
        // Ajuste de margen top global si hace falta
        margin-top: 50px; 
    }

    // --- CONTENEDOR DE IMAGEN Y CÍRCULO ---
    &__image-container {
        width: 100%;
        max-width: 174px; 
        margin-bottom: 40px;
        position: relative; 
        z-index: 1; 

        // CAPA 0 (Fondo Gris)
        &::after {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: v.$color-dark-grey;
            z-index: 0; 
        }

        // CAPA 2 (Frente): CÍRCULO
        &::before {
            content: '';
            position: absolute;
            width: 129px;
            height: 129px;
            background-repeat: no-repeat;
            z-index: 2; 
            background-image: url('../img/pattern-circle.svg'); 

            bottom: -20px; 
            right: -165px; 

            @include m.respond-to('tablet') {
                bottom: 0px;  
                right: -30px;
            }
            
            @include m.respond-to('desktop') {
                background-image: url('../img/pattern-circle2.svg'); 
                bottom: 70px; 
                left: -65px;
            }
        }

        // CAPA 1 (Medio): La Foto
        img {
            position: relative;
            z-index: 1; 
            width: 100%;
            height: auto;
            display: block;
        }

        @include m.respond-to('tablet') {
            order: 2; 
            max-width: 400px; 
            margin-bottom: 0;
            margin-top: -110px; 
            flex-shrink: 0; 
            margin-right: -30px; 
            margin-left: -90px; 
        }
        
        @include m.respond-to('desktop') {
            max-width: 445px;
            margin-right: 0;
            margin-left: 0;
            
            // --- ¡AQUÍ ESTÁ LA CLAVE PARA QUE TOQUE EL TECHO! ---
            // Usamos un margen negativo grande para subir la imagen 
            // más allá del contenedor del Hero, superponiéndose al Header.
            // Ajusta este número (-140px, -150px) hasta que toque el borde exacto.
            margin-top: -190px; 
        }
    }

    // --- CONTENEDOR DE TEXTO ---
    &__content {
        z-index: 2;
        @include m.respond-to('tablet') {
            order: 1; 
            flex-grow: 1; 
            min-width: 460px; 
            max-width: 100%; 
            padding-top: 0; 
            position: relative; 
            z-index: 10;
        }
        @include m.respond-to('desktop') {
            max-width: 706px;
            margin-top: 80px; // Ajustado para centrar con respecto a la nueva altura de imagen
            order: 1;
            min-width: auto;
        }
    }

    &__title {
        font-size: 40px;
        line-height: 1;
        letter-spacing: -1.14px;
        margin-bottom: 24px;
        font-weight: 700;

        .br-tablet { display: none; }        
        .br-mobile-desktop { display: inline; } 

        @include m.respond-to('tablet') {
            font-size: 72px;      
            line-height: 72px;
            letter-spacing: -2.05px; 
            margin-bottom: 60px;
            max-width: 100%; 
            .br-tablet { display: inline; }       
            .br-mobile-desktop { display: none; } 
        }

        @include m.respond-to('desktop') {
            font-size: 88px;
            line-height: 88px;
            letter-spacing: -2.5px;
            margin-bottom: 43px; 
            max-width: 706px; 
            .br-tablet { display: none; }
            .br-mobile-desktop { display: inline; }
        }

        .text-underline {
            position: relative;
            white-space: nowrap;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: v.$color-green;
                z-index: -1;
            }
        }
    }

    &__description {
        font-size: 16px;
        line-height: 26px;
        color: v.$color-light-grey;
        margin-bottom: 24px;
        max-width: 445px;

        @include m.respond-to('tablet') {
            font-size: 18px;
            margin-bottom: 34px;
        }
        
        @include m.respond-to('desktop') {
            max-width: 445px;
        }
    }
}