// sass/layout/_hero.scss
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// AJUSTE ESPECIAL PARA EL CONTAINER EN EL HERO (DESKTOP)
// Elimina padding lateral para permitir que los elementos toquen los bordes si es necesario.
.container {
    @include m.respond-to('desktop') {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.hero {
    display: flex;
    flex-direction: column; // Móvil: Imagen y texto apilados
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 80px;

    // --- ELEMENTO DECORATIVO: ANILLOS (RINGS) ---
    // Se posiciona de forma absoluta detrás del contenido.
    &::before {
        content: '';
        position: absolute;
        width: 530px;
        height: 129px;
        background-repeat: no-repeat;
        pointer-events: none; // Permite hacer click a través de la decoración
        z-index: 0; 
        
        // Imagen para Móvil/Tablet
        background-image: url('../img/pattern-rings.svg');

        // Coordenadas para Móvil (Parcialmente fuera de pantalla a la izquierda)
        left: -140px; 
        top: 30px; 

        // Ajuste para Tablet
        @include m.respond-to('tablet') {
            left: 0px; 
            top: -10px;
        }

        // Ajuste para Desktop (Cambia imagen y posición)
        @include m.respond-to('desktop') {
            background-image: url('../img/pattern-rings3.svg');
            left: -180px; 
            top: 0px;
        }
    }

    // --- LAYOUT TABLET/DESKTOP ---
    @include m.respond-to('tablet') {
        flex-direction: row; // Pone texto e imagen lado a lado
        align-items: center; 
        justify-content: space-between;
        text-align: left;
        min-height: 600px; 
    }
    
    @include m.respond-to('desktop') {
        align-items: flex-start; 
        padding-top: 0; 
        min-height: auto;
        margin-top: 50px; 
    }

    // --- CONTENEDOR DE LA FOTO DE PERFIL ---
    &__image-container {
        width: 100%;
        max-width: 174px; // Tamaño en móvil
        margin-bottom: 40px;
        position: relative; 
        z-index: 1; 

        // FONDO GRIS DETRÁS DE LA FOTO
        &::after {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: v.$color-dark-grey;
            z-index: 0; 
        }

        // ELEMENTO DECORATIVO: CÍRCULO (CIRCLE)
        &::before {
            content: '';
            position: absolute;
            width: 129px;
            height: 129px;
            background-repeat: no-repeat;
            z-index: 2; // Por encima de la foto
            background-image: url('../img/pattern-circle.svg'); 

            // Posición Móvil (Abajo derecha sobre la foto)
            bottom: -20px; 
            right: -165px; 

            @include m.respond-to('tablet') {
                bottom: 0px;  
                right: -30px;
            }
            
            @include m.respond-to('desktop') {
                background-image: url('../img/pattern-circle2.svg'); 
                bottom: 70px; 
                left: -65px; // En desktop se mueve a la izquierda
            }
        }

        // La Imagen Real
        img {
            position: relative;
            z-index: 1; 
            width: 100%;
            height: auto;
            display: block;
        }

        // Posicionamiento en Tablet (Se sale del flujo para pegarse a la derecha)
        @include m.respond-to('tablet') {
            order: 2; // Manda la imagen a la derecha (Flexbox)
            max-width: 400px; 
            margin-bottom: 0;
            margin-top: -110px; // Sube la imagen para superponerse
            flex-shrink: 0; 
            margin-right: -30px; // Se pega al borde derecho
            margin-left: -90px; 
        }
        
        // Posicionamiento en Desktop (Efecto "tocar el techo")
        @include m.respond-to('desktop') {
            max-width: 445px;
            margin-right: 0;
            margin-left: 0;
            
            // MARGEN NEGATIVO CRÍTICO:
            // Sube la imagen -190px para que invada el área del header
            // creando el efecto de diseño superpuesto.
            margin-top: -190px; 
        }
    }

    // --- CONTENEDOR DE TEXTOS (Título y descripción) ---
    &__content {
        z-index: 2;
        
        @include m.respond-to('tablet') {
            order: 1; // Manda el texto a la izquierda
            flex-grow: 1; 
            min-width: 460px; 
            padding-top: 0; 
            position: relative; 
            z-index: 10;
        }
        @include m.respond-to('desktop') {
            max-width: 706px;
            margin-top: 80px; // Ajuste vertical para centrar con la imagen desplazada
            order: 1;
            min-width: auto;
        }
    }

    // TÍTULO PRINCIPAL (H1)
    &__title {
        font-size: 40px;
        line-height: 1;
        letter-spacing: -1.14px;
        margin-bottom: 24px;
        font-weight: 700;

        // Control de saltos de línea (<br>) según dispositivo
        .br-tablet { display: none; }        
        .br-mobile-desktop { display: inline; } 

        @include m.respond-to('tablet') {
            font-size: 72px;      
            line-height: 72px;
            letter-spacing: -2.05px; 
            margin-bottom: 60px;
            max-width: 100%; 
            .br-tablet { display: inline; }       
            .br-mobile-desktop { display: none; } 
        }

        @include m.respond-to('desktop') {
            font-size: 88px;
            line-height: 88px;
            letter-spacing: -2.5px;
            margin-bottom: 43px; 
            max-width: 706px; 
            .br-tablet { display: none; }
            .br-mobile-desktop { display: inline; }
        }

        // Subrayado verde en el nombre
        .text-underline {
            position: relative;
            white-space: nowrap; // Evita que el nombre se parta
            
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px; // Grosor de la línea
                background-color: v.$color-green;
                z-index: -1; // Detrás del texto
            }
        }
    }

    // DESCRIPCIÓN
    &__description {
        font-size: 16px;
        line-height: 26px;
        color: v.$color-light-grey;
        margin-bottom: 24px;
        max-width: 445px; // Limita el ancho para lectura cómoda

        @include m.respond-to('tablet') {
            font-size: 18px;
            margin-bottom: 34px;
        }
        
        @include m.respond-to('desktop') {
            max-width: 445px;
        }
    }
}