// sass/components/_skills.scss
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.skills {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    border-top: 1px solid v.$color-light-grey; // Línea separadora superior (Móvil)
    z-index: 1; 

    // --- DECORACIÓN: ANILLOS INFERIORES ---
    &::before {
        content: '';
        position: absolute;
        width: 530px; 
        height: 129px;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: -1; 
        
        // Imagen (Móvil/Tablet)
        background-image: url('../img/pattern-rings2.svg');

        // Posición Móvil
        right: -350px;
        bottom: -65px;

        @include m.respond-to('tablet') {
            right: -345px; 
            bottom: -30px;
        }

        @include m.respond-to('desktop') {
            background-image: url('../img/pattern-rings4.svg');
            // En desktop se mueven a la izquierda
            bottom: -30px;
            right: -400px; 
        }
    }

    // Ajustes de espaciado para Tablet/Desktop
    @include m.respond-to('tablet') {
        margin-bottom: 100px;
        border-top: none; // Quita la línea separadora en pantallas grandes
    }

    @include m.respond-to('desktop') {
        margin-bottom: 140px; 
        padding-top: 72px; 
    }

    // --- GRILLA DE HABILIDADES ---
    &__list {
        display: grid;
        grid-template-columns: 1fr; // Móvil: 1 columna (lista vertical)
        gap: 24px;
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0; 

        // Tablet: 2 columnas
        @include m.respond-to('tablet') {
            grid-template-columns: repeat(2, 1fr);
            text-align: left; // Alineación izquierda
            gap: 52px 24px;
            padding-top: 20px;
        }

        // Desktop: 3 columnas
        @include m.respond-to('desktop') {
            grid-template-columns: repeat(3, 1fr);
            gap: 58px 30px;
        }
    }

    // NOMBRE DE LA HABILIDAD (Ej: HTML, CSS)
    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 1px;
        @include m.respond-to('desktop') { font-size: 48px; }
    }

    // EXPERIENCIA (Ej: 4 Years Experience)
    &__experience {
        font-size: 16px;
        color: v.$color-light-grey;
        font-weight: 500;
        @include m.respond-to('desktop') { font-size: 18px; }
    }
}

// Separador visual extra (HR) que solo se ve en móvil
.skills + .separator {
    @include m.respond-to('tablet') { display: none; }
}