// sass/base/_base.scss
@use '../abstracts/variables' as v;

// --- CONFIGURACIÓN GLOBAL ---
html, body {
    overflow-x: hidden; // CRUCIAL: Evita que aparezca barra de scroll horizontal si algún elemento (como los anillos decorativos) se sale de la pantalla.
    width: 100%;
    position: relative;
}

body {
    background-color: v.$color-black;
    color: v.$color-white;
    font-family: v.$font-primary;
    font-size: v.$font-size-body;
    line-height: 1.5; // Altura de línea estándar para legibilidad
}

// --- ENLACES (LINKS) ---
a {
    text-decoration: none; // Quita el subrayado por defecto
    color: inherit;        // Hereda el color del padre
    transition: color 0.3s ease; // Suaviza el cambio de color
    cursor: pointer;

    // Efecto Hover global
    &:hover {
        color: v.$color-green; 
    }
}

// --- IMÁGENES ---
img {
    max-width: 100%; // Hace que las imágenes sean flexibles y nunca desborden su contenedor
    height: auto;    // Mantiene la proporción original
    display: block;  // Elimina espacios extraños debajo de las imágenes
}